body{
    background-color: #322;
    color: black;
    font-family: sans-serif;
    margin: 0;
    padding: 0px 10px;
}

.container{
    background-color: rgb(237, 226, 226);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    max-width: 500px;
    padding: 40px;
    /* height: 100vh; */
    /* top: 50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%); */

}

.result{
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

#element{
    height: 120px;
    width: 120px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slider-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="range"]{
    width: 100%;
    cursor: pointer;
}

.code-wrapper{
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 5px;
    margin-top: 20px;
}

textarea{
    resize: none;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px
}

.code-wrapper button{
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}